label{
    color:blueviolet;
    font-weight: bold;
    font-size: 20px;
}

label::after{
    content:"*";
    color: red;
}


    label:first-of-type::before{
        content:"😊";

    }

    label:last-of-type::before{
        content:"😎";
    }


button{
    background-color: blue;
    padding: 10px 20px;
}